<nb-card>
  <nb-card-header>
    <h1>Terms & conditions:</h1>
  </nb-card-header>
  <nb-card-body>
    <ol class="list-group list-group-flush">
      <li class="list-group-item">
        <h5> People under <strong class="">18 years old</strong> are not allowed to participate in the
          event. Please, provide the
          employee at the entrance with your ID for an age check!
        </h5>
      </li>
      <li class="list-group-item">
        <h5>
          Visitors cannot buy any items (food, drinks, souvenirs, etc.) with cash. Every visitor must use their event
          account to buy and loan items at the event. (“How to use my event account?” – Instructions provided in My
          Account
          page)
        </h5>
      </li>
      <li class="list-group-item">
        <h5>
          For each loan item a deposit of 50% of the price of the item is taken. In case of damaged or lost products, we
          do not return the deposit.
        </h5>
      </li>
      <li class="list-group-item">
        <h5>
          No refund if for any reason a person is not available to visit the event.
        </h5>
      </li>
      <li class="list-group-item">
        <h5>
          Buying a ticket or reserving a camping spot for a day is not possible.
        </h5>
      </li>
      <li class="list-group-item">
        <h5>
          People are allowed to leave during the event and return later through special gates. Ask our employees for
          more
          information.
        </h5>
      </li>
    </ol>
  </nb-card-body>
</nb-card>